In [1]:
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
import numpy as np

In [2]:
df = pd.read_csv('CreditScoring.csv')

In [3]:
df.shape

(4455, 14)

In [4]:
df.columns = df.columns.str.lower()

In [5]:
df.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,1,9,1,60,30,2,1,3,73,129,0,0,800,846
1,1,17,1,60,58,3,1,1,48,131,0,0,1000,1658
2,2,10,2,36,46,2,2,3,90,200,3000,0,2000,2985
3,1,0,1,60,24,1,1,1,63,182,2500,0,900,1325
4,1,0,1,36,26,1,1,1,46,107,0,0,310,910

In [6]:
df.status.value_counts()

status
1    3200
2    1254
0       1
Name: count, dtype: int64

In [7]:
status_values = {
    0: 'unknown', 1: 'ok', 2: 'default'
}

In [8]:
df['status'] = df.status.map(status_values)

In [9]:
home_values = {
    1: 'rent',
    2: 'owner',
    3: 'private',
    4: 'ignore',
    5: 'parents',
    6: 'other',
    0: 'unk'
}

df.home = df.home.map(home_values)

marital_values = {
    1: 'single',
    2: 'married',
    3: 'widow',
    4: 'separated',
    5: 'divorced',
    0: 'unk'
}

df.marital = df.marital.map(marital_values)

records_values = {
    1: 'no',
    2: 'yes',
    0: 'unk'
}

df.records = df.records.map(records_values)

job_values = {
    1: 'fixed',
    2: 'partime',
    3: 'freelance',
    4: 'others',
    0: 'unk'
}

df.job = df.job.map(job_values)

In [10]:
df.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,ok,9,rent,60,30,married,no,freelance,73,129,0,0,800,846
1,ok,17,rent,60,58,widow,no,fixed,48,131,0,0,1000,1658
2,default,10,owner,36,46,married,yes,freelance,90,200,3000,0,2000,2985
3,ok,0,rent,60,24,single,no,fixed,63,182,2500,0,900,1325
4,ok,0,rent,36,26,single,no,fixed,46,107,0,0,310,910

In [11]:
df.describe()

,seniority,time,age,expenses,income,assets,debt,amount,price
count,4455.00,4455.00,4455.00,4455.00,4455.00,4455.00,4455.00,4455.00,4455.00
mean,7.99,46.44,37.08,55.57,763316.99,1060340.81,404381.96,1039.02,1462.88
std,8.17,14.66,10.98,19.52,8703625.26,10217568.67,6344253.40,474.54,628.09
min,0.00,6.00,18.00,35.00,0.00,0.00,0.00,100.00,105.00
25%,2.00,36.00,28.00,35.00,80.00,0.00,0.00,700.00,1117.50
50%,5.00,48.00,36.00,51.00,120.00,3500.00,0.00,1000.00,1400.00
75%,12.00,60.00,45.00,72.00,166.00,6000.00,0.00,1300.00,1692.00
max,48.00,72.00,68.00,180.00,99999999.00,99999999.00,99999999.00,5000.00,11140.00

In [12]:
for cols in ['income','assets','debt']:
    df[cols] = df[cols].replace(99999999, np.nan)

In [13]:
df.describe()

,seniority,time,age,expenses,income,assets,debt,amount,price
count,4455.00,4455.00,4455.00,4455.00,4421.00,4408.00,4437.00,4455.00,4455.00
mean,7.99,46.44,37.08,55.57,130.57,5403.43,342.95,1039.02,1462.88
std,8.17,14.66,10.98,19.52,86.37,11573.16,1245.86,474.54,628.09
min,0.00,6.00,18.00,35.00,0.00,0.00,0.00,100.00,105.00
25%,2.00,36.00,28.00,35.00,80.00,0.00,0.00,700.00,1117.50
50%,5.00,48.00,36.00,51.00,120.00,3000.00,0.00,1000.00,1400.00
75%,12.00,60.00,45.00,72.00,165.00,6000.00,0.00,1300.00,1692.00
max,48.00,72.00,68.00,180.00,959.00,300000.00,30000.00,5000.00,11140.00

In [14]:
df = df[df.status != 'unknown'].reset_index(drop=True)

In [15]:
df.shape

(4454, 14)

In [16]:
df['status'] = (df.status == 'default').astype(int)

In [17]:
df.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,0,9,rent,60,30,married,no,freelance,73,129.00,0.00,0.00,800,846
1,0,17,rent,60,58,widow,no,fixed,48,131.00,0.00,0.00,1000,1658
2,1,10,owner,36,46,married,yes,freelance,90,200.00,3000.00,0.00,2000,2985
3,0,0,rent,60,24,single,no,fixed,63,182.00,2500.00,0.00,900,1325
4,0,0,rent,36,26,single,no,fixed,46,107.00,0.00,0.00,310,910

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=7)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=7)

In [20]:
df_full_train.shape, df_train.shape, df_val.shape, df_test.shape

((3563, 14), (2672, 14), (891, 14), (891, 14))

In [21]:
df_train.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
1446,0,3,parents,60,25,single,no,fixed,35,130.00,6000.00,0.00,625,1083
350,0,30,rent,60,52,married,no,freelance,70,100.00,14500.00,0.00,1250,1563
2206,0,4,parents,60,28,divorced,no,fixed,35,185.00,0.00,0.00,1500,1797
2239,0,17,owner,36,38,married,no,freelance,75,0.00,19000.00,800.00,700,795
671,1,15,owner,36,49,married,no,freelance,75,70.00,3572.00,1728.00,1650,2755

In [22]:
 df_train = df_train.reset_index(drop=True)
 df_val = df_val.reset_index(drop=True)
 df_test = df_test.reset_index(drop=True)

In [23]:
y_train = df_train.status.values
y_val = df_val.status.values
y_test = df_test.status.values

In [24]:
y_train

array([0, 0, 0, ..., 0, 0, 0])

In [25]:
del df_train['status']
del df_val['status']
del df_test['status']

In [26]:
df_train.shape, df_val.shape, df_test.shape

((2672, 13), (891, 13), (891, 13))

In [27]:
df_train = df_train.fillna(0)

In [28]:
df_test.fillna(0, inplace=True)
df_test.fillna(0, inplace=True)

In [29]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_extraction import DictVectorizer

In [30]:
train_dicts = df_train.to_dict(orient='records')

In [31]:
dv = DictVectorizer(sparse=False)

In [32]:
X_train = dv.fit_transform(train_dicts)

In [33]:
dt = DecisionTreeClassifier()

In [34]:
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [35]:
feature_names = dv.get_feature_names_out()
feature_names

array(['age', 'amount', 'assets', 'debt', 'expenses', 'home=ignore',
       'home=other', 'home=owner', 'home=parents', 'home=private',
       'home=rent', 'home=unk', 'income', 'job=fixed', 'job=freelance',
       'job=others', 'job=partime', 'job=unk', 'marital=divorced',
       'marital=married', 'marital=separated', 'marital=single',
       'marital=unk', 'marital=widow', 'price', 'records=no',
       'records=yes', 'seniority', 'time'], dtype=object)

In [36]:
val_dicts = df_val.to_dict(orient='records')
X_val = dv.transform(val_dicts)

In [37]:
y_pred = dt.predict_proba(X_val)[:,1]

In [38]:
from sklearn.metrics import roc_auc_score

In [39]:
roc_auc_score(y_val, y_pred)

0.6466694797757551

In [40]:
y_pred = dt.predict_proba(X_train)[:,1]
roc_auc_score(y_train, y_pred)

1.0

### Max-depth Decision Trees

In [41]:
dt = DecisionTreeClassifier(max_depth=2)

In [42]:
dt.fit(X_train, y_train)
y_pred = dt.predict_proba(X_train)[:, 1]
roc_auc_score(y_train, y_pred)

0.7153086605329734

In [43]:
dt.fit(X_val, y_val)
y_pred = dt.predict_proba(X_val)[:, 1]
roc_auc_score(y_val, y_pred)

0.7252667430224848

In [44]:
from sklearn.tree import export_text

In [45]:
print(export_text(dt, feature_names=feature_names))

|--- records=yes <= 0.50
|   |--- seniority <= 3.50
|   |   |--- class: 0
|   |--- seniority >  3.50
|   |   |--- class: 0
|--- records=yes >  0.50
|   |--- seniority <= 5.50
|   |   |--- class: 1
|   |--- seniority >  5.50
|   |   |--- class: 0

## Decision Tree Learning Algorithm

In [46]:
data = [
    [8000, 'default'],
    [2000, 'default'],
    [   0, 'default'],
    [5000, 'ok'],
    [5000, 'ok'],
    [4000, 'ok'],
    [9000, 'ok'],
    [3000, 'default'],
]

df_example = pd.DataFrame(data, columns=['assets', 'status'])
df_example

   assets   status
0    8000  default
1    2000  default
2       0  default
3    5000       ok
4    5000       ok
5    4000       ok
6    9000       ok
7    3000  default

In [47]:
df_example.sort_values('assets')

   assets   status
2       0  default
1    2000  default
7    3000  default
5    4000       ok
3    5000       ok
4    5000       ok
0    8000  default
6    9000       ok

In [48]:
Ts = [0, 2000, 3000, 4000, 5000, 8000]

In [ ]:
from IPython.display import display

In [53]:
for T in Ts:
    print('Threshold:',T)
    df_left = df_example[df_example.assets <= T]
    df_right = df_example[df_example.assets > T]
    
    display(df_left)
    print(df_left.status.value_counts(normalize=True))
    display(df_right)
    print(df_right.status.value_counts(normalize=True))

    print()

Threshold: 0

   assets   status
2       0  default

status
default   1.00
Name: proportion, dtype: float64

   assets   status
0    8000  default
1    2000  default
3    5000       ok
4    5000       ok
5    4000       ok
6    9000       ok
7    3000  default

status
ok        0.57
default   0.43
Name: proportion, dtype: float64

Threshold: 2000

   assets   status
1    2000  default
2       0  default

status
default   1.00
Name: proportion, dtype: float64

   assets   status
0    8000  default
3    5000       ok
4    5000       ok
5    4000       ok
6    9000       ok
7    3000  default

status
ok        0.67
default   0.33
Name: proportion, dtype: float64

Threshold: 3000

   assets   status
1    2000  default
2       0  default
7    3000  default

status
default   1.00
Name: proportion, dtype: float64

   assets   status
0    8000  default
3    5000       ok
4    5000       ok
5    4000       ok
6    9000       ok

status
ok        0.80
default   0.20
Name: proportion, dtype: float64

Threshold: 4000

   assets   status
1    2000  default
2       0  default
5    4000       ok
7    3000  default

status
default   0.75
ok        0.25
Name: proportion, dtype: float64

   assets   status
0    8000  default
3    5000       ok
4    5000       ok
6    9000       ok

status
ok        0.75
default   0.25
Name: proportion, dtype: float64

Threshold: 5000

   assets   status
1    2000  default
2       0  default
3    5000       ok
4    5000       ok
5    4000       ok
7    3000  default

status
default   0.50
ok        0.50
Name: proportion, dtype: float64

   assets   status
0    8000  default
6    9000       ok

status
default   0.50
ok        0.50
Name: proportion, dtype: float64

Threshold: 8000

   assets   status
0    8000  default
1    2000  default
2       0  default
3    5000       ok
4    5000       ok
5    4000       ok
7    3000  default

status
default   0.57
ok        0.43
Name: proportion, dtype: float64

   assets status
6    9000     ok

status
ok   1.00
Name: proportion, dtype: float64